In [ ]:
import pandas as pd
import numpy as np

json_data = pd.read_json('data\clinical_data_viz.json')
csv_data = pd.read_csv('data\clinical_data.csv')
df = csv_data
df['anes_duration'] = (df['aneend'] - df['anestart']) / 60
json_data

,age,sex,bmi,intraop_ebl,surgery_duration,asa,approach,los_postop,death_inhosp,mortality_label,color
0,77.0,M,26.3,150,145.0,2,Open,4.531944,0,Survived,green
1,54.0,M,19.6,50,215.0,2,Open,14.880556,0,Survived,green
2,62.0,M,24.4,150,32.0,1,Videoscopic,0.000000,0,Survived,green
3,74.0,M,20.5,150,255.0,2,Videoscopic,4.344444,0,Survived,green
4,66.0,M,20.4,2600,295.0,3,Open,42.436111,0,Survived,green
...,...,...,...,...,...,...,...,...,...,...,...
6237,64.0,M,24.2,100,200.0,1,Open,5.015278,0,Survived,green
6238,69.0,M,24.6,100,285.0,2,Videoscopic,16.777778,0,Survived,green
6239,61.0,F,18.8,100,245.0,1,Videoscopic,7.359722,0,Survived,green
6240,24.0,F,22.9,150,155.0,1,Robotic,1.727778,0,Survived,green
6241,47.0,F,22.9,150,115.0,2,Open,0.776389,0,Survived,green

In [30]:
csv_data

,caseid,subjectid,casestart,caseend,anestart,aneend,opstart,opend,adm,dis,...,intraop_colloid,intraop_ppf,intraop_mdz,intraop_ftn,intraop_rocu,intraop_vecu,intraop_eph,intraop_phe,intraop_epi,intraop_ca
0,1,5955,0,11542,-552,10848.0,1668,10368,-236220,627780,...,0,120,0.0,100,70,0,10,0,0,0
1,2,2487,0,15741,-1039,14921.0,1721,14621,-221160,1506840,...,0,150,0.0,0,100,0,20,0,0,0
2,3,2861,0,4394,-590,4210.0,1090,3010,-218640,40560,...,0,0,0.0,0,50,0,0,0,0,0
3,4,1903,0,20990,-778,20222.0,2522,17822,-201120,576480,...,0,80,0.0,100,100,0,50,0,0,0
4,5,4416,0,21531,-1009,22391.0,2591,20291,-67560,3734040,...,0,0,0.0,0,160,0,10,900,0,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6383,6384,5583,0,15248,-260,15640.0,2140,14140,-215340,648660,...,0,150,0.0,0,90,0,20,0,0,0
6384,6385,2278,0,20643,-544,20996.0,2396,19496,-225600,1675200,...,0,100,0.0,0,100,0,25,30,0,300
6385,6386,4045,0,19451,-667,19133.0,3533,18233,-200460,836340,...,0,70,0.0,0,130,0,10,0,0,0
6386,6387,5230,0,12025,-550,12830.0,1730,11030,-227760,377040,...,0,120,0.0,0,50,0,0,0,0,0
6387,6388,1306,0,10249,-79,10121.0,2321,9221,-312060,379140,...,500,120,0.0,0,90,0,20,0,0,0

In [31]:
csv_data['age']

0       77.0
1       54.0
2       62.0
3       74.0
4       66.0
        ...
6383    64.0
6384    69.0
6385    61.0
6386    24.0
6387    47.0
Name: age, Length: 6388, dtype: float64

In [32]:
csv_data['intraop_uo']

0        300.0
1        700.0
2          NaN
3        270.0
4       1490.0
         ...
6383     330.0
6384     250.0
6385     450.0
6386      60.0
6387     800.0
Name: intraop_uo, Length: 6388, dtype: float64

In [33]:
csv_data.columns

Index(['caseid', 'subjectid', 'casestart', 'caseend', 'anestart', 'aneend',
       'opstart', 'opend', 'adm', 'dis', 'icu_days', 'death_inhosp', 'age',
       'sex', 'height', 'weight', 'bmi', 'asa', 'emop', 'department', 'optype',
       'dx', 'opname', 'approach', 'position', 'ane_type', 'preop_htn',
       'preop_dm', 'preop_ecg', 'preop_pft', 'preop_hb', 'preop_plt',
       'preop_pt', 'preop_aptt', 'preop_na', 'preop_k', 'preop_gluc',
       'preop_alb', 'preop_ast', 'preop_alt', 'preop_bun', 'preop_cr',
       'preop_ph', 'preop_hco3', 'preop_be', 'preop_pao2', 'preop_paco2',
       'preop_sao2', 'cormack', 'airway', 'tubesize', 'dltubesize', 'lmasize',
       'iv1', 'iv2', 'aline1', 'aline2', 'cline1', 'cline2', 'intraop_ebl',
       'intraop_uo', 'intraop_rbc', 'intraop_ffp', 'intraop_crystalloid',
       'intraop_colloid', 'intraop_ppf', 'intraop_mdz', 'intraop_ftn',
       'intraop_rocu', 'intraop_vecu', 'intraop_eph', 'intraop_phe',
       'intraop_epi', 'intraop_ca'],
      dtype='object')

In [34]:
cleaned_data = csv_data[["age", "sex", "intraop_ebl", "ane_type", "department", "opstart", "opend", "anestart", "aneend", "asa", "approach", "death_inhosp"]]
cleaned_data['surgery_duration'] = (cleaned_data['opend'] - cleaned_data['opstart']) / 60
cleaned_data['anes_duration'] = (cleaned_data['aneend'] - cleaned_data['anestart']) / 60
cleaned_data = cleaned_data.drop(columns=['opstart', 'opend', 'anestart', 'aneend'])
cleaned_data['mortality_label'] = cleaned_data["death_inhosp"].apply(lambda x: "Survived" if x == 0 else "Mortality")
cleaned_data['color'] = cleaned_data["death_inhosp"].apply(lambda x: "green" if x == 0 else "red")
cleaned_data

C:\Users\ne5ye\AppData\Local\Temp\ipykernel_13036\1188933405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['surgery_duration'] = (cleaned_data['opend'] - cleaned_data['opstart']) / 60
C:\Users\ne5ye\AppData\Local\Temp\ipykernel_13036\1188933405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['anes_duration'] = (cleaned_data['aneend'] - cleaned_data['anestart']) / 60

,age,sex,intraop_ebl,ane_type,department,asa,approach,death_inhosp,surgery_duration,anes_duration,mortality_label,color
0,77.0,M,NaN,General,General surgery,2.0,Open,0,145.0,190.0,Survived,green
1,54.0,M,50.0,General,General surgery,2.0,Open,0,215.0,266.0,Survived,green
2,62.0,M,NaN,General,General surgery,1.0,Videoscopic,0,32.0,80.0,Survived,green
3,74.0,M,NaN,General,General surgery,2.0,Videoscopic,0,255.0,350.0,Survived,green
4,66.0,M,2600.0,General,General surgery,3.0,Open,0,295.0,390.0,Survived,green
...,...,...,...,...,...,...,...,...,...,...,...,...
6383,64.0,M,100.0,General,General surgery,1.0,Open,0,200.0,265.0,Survived,green
6384,69.0,M,100.0,General,General surgery,2.0,Videoscopic,0,285.0,359.0,Survived,green
6385,61.0,F,100.0,General,General surgery,1.0,Videoscopic,0,245.0,330.0,Survived,green
6386,24.0,F,NaN,General,General surgery,1.0,Robotic,0,155.0,223.0,Survived,green
6387,47.0,F,NaN,General,Gynecology,2.0,Open,0,115.0,170.0,Survived,green

In [ ]:
df['adm'] = df['adm'].apply(lambda x: abs(x) if x < 0 else x)  # Fix negative admission times
df['dis'] = df['dis'].apply(lambda x: x if x > 0 else None)  # Remove negative discharge times

# Compute los_postop after fixing adm & dis
df['los_postop'] = (df['dis'] - df['adm']) / (60 * 60 * 24)  # Convert to days

# Handle invalid values
df.loc[df['los_postop'] < 0, 'los_postop'] = None  # Remove negatives
df['los_postop'] = df['los_postop'].fillna(df['icu_days'])  # Use ICU stay if missing

# Check final results
print(df[['adm', 'dis', 'los_postop', 'icu_days']].head())
# Ensure mortality data is numeric
df['death_inhosp'] = pd.to_numeric(df['death_inhosp'], errors='coerce')

# Convert to categorical labels
df['mortality_label'] = df['death_inhosp'].map({0: "Survived", 1: "Mortality"})

# Assign colors for visualization
df['color'] = df['death_inhosp'].map({0: "green", 1: "red"})

df
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df = df[df['age'] > 0]  # Remove invalid ages
df['sex'] = df['sex'].str.upper().fillna("UNKNOWN")  # Standardize values
df['bmi'] = pd.to_numeric(df['bmi'], errors='coerce')
df = df[(df['bmi'] >= 10) & (df['bmi'] <= 60)]
df['intraop_ebl'] = pd.to_numeric(df['intraop_ebl'], errors='coerce')
df = df.assign(intraop_ebl=df['intraop_ebl'].fillna(df['intraop_ebl'].median()))
df = df[df['intraop_ebl'] >= 0]
df['surgery_duration'] = (df['opend'] - df['opstart']) / 60  # Convert sec â†’ min
df = df[df['surgery_duration'] >= 0]  # Remove invalid cases
df['asa'] = pd.to_numeric(df['asa'], errors='coerce')
df = df[df['asa'].between(1, 5, inclusive='both')]  # ASA is between 1 and 5
df['approach'] = df['approach'].fillna("Unknown")
columns_to_keep = ['age', 'sex', 'bmi', 'department', 'intraop_ebl', 'surgery_duration', 'anes_duration', 'ane_type',
                   'asa', 'approach', 'los_postop', 'death_inhosp', 'mortality_label', 'color']

df_filtered = df[columns_to_keep]
df_filtered.to_csv("clinical_data_cleaned.csv", index=False)
df_filtered.to_json("clinical_data_cleaned.json", orient="records")

      adm        dis  los_postop  icu_days
0  236220   627780.0    4.531944         0
1  221160  1506840.0   14.880556         0
2  218640    40560.0    0.000000         0
3  201120   576480.0    4.344444         1
4   67560  3734040.0   42.436111        13

In [37]:
df_filtered

,age,sex,bmi,intraop_ebl,surgery_duration,asa,approach,los_postop,death_inhosp,mortality_label,color
0,77.0,M,26.3,150.0,145.0,2.0,Open,4.531944,0,Survived,green
1,54.0,M,19.6,50.0,215.0,2.0,Open,14.880556,0,Survived,green
2,62.0,M,24.4,150.0,32.0,1.0,Videoscopic,0.000000,0,Survived,green
3,74.0,M,20.5,150.0,255.0,2.0,Videoscopic,4.344444,0,Survived,green
4,66.0,M,20.4,2600.0,295.0,3.0,Open,42.436111,0,Survived,green
...,...,...,...,...,...,...,...,...,...,...,...
6383,64.0,M,24.2,100.0,200.0,1.0,Open,5.015278,0,Survived,green
6384,69.0,M,24.6,100.0,285.0,2.0,Videoscopic,16.777778,0,Survived,green
6385,61.0,F,18.8,100.0,245.0,1.0,Videoscopic,7.359722,0,Survived,green
6386,24.0,F,22.9,150.0,155.0,1.0,Robotic,1.727778,0,Survived,green
6387,47.0,F,22.9,150.0,115.0,2.0,Open,0.776389,0,Survived,green